* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
p {
  font-size: 1.6rem;
}

h1{
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.app::before {
  content:'';
  background: url('./assets/pexels-summer-stock-325117.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  max-width: 700px;
  height: 700px;
  margin: auto
  padding: 0 1rem;
  position: relative;
  top: 10%;
}